html {
    position: relative;
    min-height: 100%;
}

body {
  margin-bottom: 120px;
  height: auto;
  height: 100%;
}

#result {
  display: flex;
  flex-wrap: wrap;
}

.token-item {
  align-self: flex-start;
}

.token-score0 {
  color: black;
  font-weight: bolder;
}

.token-score1 {
  color: black;
}

.token-score2 {
  color: gray;
}

.token-score3 {
  color: darkgrey;
}

.token-score4 {
  color: darkgrey;
}

.token-btn1 {
  margin: 1px 1px;
}

.token-btn2 {
  margin: 1px 1px;
}

.token-info {
  position: relative;
  display: none;
  margin: 10px 0;
  padding: 10px 10px;
  background: lavenderblush;
  pointer-events: none;
  border-radius: 5px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.1));
}

.token-info::before {
  content: '';
  position: absolute;
  top: -30px;
  left: 26%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid lavenderblush;
}

#check-btn {
    text-align: right;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;/*背景色*/
    border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
}

#check-btn:active {
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  text-align: center;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

