<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{{ base_url }}/static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ base_url }}/static/css/styles.css">
        <script src="{{ base_url }}/static/js/jquery-3.3.1.js"></script>
    </head>
    <body>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        {% block javascript %}{% endblock %}
    </body>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">長岡技術科学大学 自然言語処理研究室</p>
        </div>
    </footer>
</html>
