{% extends "base.html" %}
{% block content %}

<h1>格助詞誤りチェッカー</h1>
<hr>

<form action="/" method="POST">
    <div class="form-group">
        <textarea class="form-control" id="input_text" rows="5" maxlength="600"
            name="input_text" placeholder="ここに文を入力"></textarea>
    </div>
</form>

<br>

<div class="card">
    <div class="card-header">結果</div>
    <div class="card-body">
        <div id="result"></div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    //リアルタイムキー入力を獲得
    $("#input_text").keyup(function() {
        var inputData = {};
        inputData["input_text"] = $(this).val();
        $.ajax({
            type: "GET",
            url: "{{ base_url }}/api/correction",
            data: inputData,
            contentType: "application/JSON",
            dataType: "JSON",
            scriptCharset: "UTF-8",

            success: function(result) {
                $("#result").html("");
                for (index in result["tokens"]) {
                    token = result["tokens"][index];
                    word = token[0];
                    flag = token[1];
                    if (flag == 1) {
                        keys = token[2]["keys"];
                        scores = token[2]["scores"];
                        s = $("<div class='token-item'><button type='button' class='btn btn-warning token-btn1'>" + word + "</button>\
                              <div class='token-info'>" + keys[0] + ": " + scores[0] + "%</div></div>");
                    } else {
                        s = $("<div class='token-item'><button type='button' class='btn btn-light token-btn2'>" + word + '</button></div>');
                    }
                    $("#result").append(s);
                }
            },

            error: function(xhr, status, err) {
                console.log("error");
            }
        });
    });
</script>
{% endblock %}
