{% extends "base.html" %}
{% block content %}

<h1>格助詞誤りチェッカー</h1>
<hr>

<form action="/" method="POST">
    <div class="form-group">
        <textarea class="form-control" id="input_text" rows="5" maxlength="300"
            name="input_text" placeholder="ここに文を入力"></textarea>
    </div>
</form>

<br>

<div class="card">
    <div class="card-header">結果</div>
    <div class="card-body">
        <div style="text-align: right;">
            <p id="check-btn">予測結果を表示</p>
        </div>
        <div id="result"></div>
    </div>
</div>

<br>
<br>
<h2>仕様</h2>
<hr>
<p>言語モデル確率をもとに、文中の格助詞（が, を, に, で）の誤りを訂正し、不足を補完します。</p>
<p><button class="btn btn-warning">黄色の形態素</button> は訂正および補完した格助詞に示しています。</p>
<p><p id="check-btn2">予測結果を表示</p>を押すと、格助詞の候補と自然さを表すスコアを表示します。</p>
<br>
<p>誤り文の例</p>
<ul>
    <li>彼は車に買った</li>
    <li>その間違いで直した</li>
    <li>昨日カレー食べた</li>
    <li>学習者で間違いやすい格助詞は、作文をする上重要な文法です</li>
</ul>
{% endblock %}

{% block javascript %}

<script>
    $("#check-btn").hide();
    $("#input_text").keyup(function() {
        $("#check-btn").show();
        var inputData = {};
        inputData["input_text"] = $(this).val();
        $.ajax({
            type: "GET",
            url: "{{ base_url }}/api/correction",
            data: inputData,
            contentType: "application/JSON",
            dataType: "JSON",
            scriptCharset: "UTF-8",

            success: function(result) {
                $("#result").html("");
                for (index in result["tokens"]) {
                    token = result["tokens"][index];
                    word = token[0];
                    flag = token[1];
                    if (!word) {
                        s = $("<div class='token-item' style='width: 100%'>　</div>");
                    } else {
                        if (flag == 1) {
                            keys = token[2]["keys"];
                            scores = token[2]["scores"];
                            var info = '';
                            for (var i=0; i<keys.length; i++) {
                                info += "<span class=token-score" + i + ">" + keys[i] + ": " + scores[i] + "</span><br>"
                            }
                            s = $("<div class='token-item'><button type='button' class='btn btn-warning token-btn1'>" + word + "</button>\
                                <div class='token-info'>" + info +"</div></div>");
                        } else {
                            s = $("<div class='token-item'><button type='button' class='btn btn-light token-btn2'>" + word + '</button></div>');
                        }
                    }
                    $("#result").append(s);
                }
            },

            error: function(xhr, status, err) {
                console.log("error");
            }
        });
    });

    $("#check-btn").click(function() {
        $(".token-info").slideToggle();
    });
</script>
{% endblock %}
