{% extends "base.html" %}
{% block content %}

<h1>格助詞誤りチェッカー</h1>
<hr>

<form action="/" method="POST">
    <div class="form-group">
        <textarea class="form-control" id="input_text" rows="5" maxlength="300"
            name="input_text" placeholder="ここに文を入力"></textarea>
    </div>
</form>

<br>

<div class="card">
    <div class="card-header">結果</div>
    <div class="card-body">
        <div id="checkbox">
            <input type="checkbox"> <label>予測結果を表示</label>
        </div>
        <div id="result"></div>
    </div>
</div>
{% endblock %}

{% block javascript %}

<script>
    $("#checkbox").hide();
    $("#input_text").keyup(function() {
        $("#checkbox").show();
        var inputData = {};
        inputData["input_text"] = $(this).val();
        $.ajax({
            type: "GET",
            url: "{{ base_url }}/api/correction",
            data: inputData,
            contentType: "application/JSON",
            dataType: "JSON",
            scriptCharset: "UTF-8",

            success: function(result) {
                $("#result").html("");
                for (index in result["tokens"]) {
                    token = result["tokens"][index];
                    word = token[0];
                    flag = token[1];
                    if (!word) {
                        s = $("<div class='token-item' style='width: 100%'>　</div>");
                    } else {
                        if (flag == 1) {
                            keys = token[2]["keys"];
                            scores = token[2]["scores"];
                            var info = '';
                            for (var i=0; i<keys.length; i++) {
                                info += "<span class=token-score" + i + ">" + keys[i] + ": " + scores[i] + "</span><br>"
                            }
                            s = $("<div class='token-item'><button type='button' class='btn btn-warning token-btn1'>" + word + "</button>\
                                <div class='token-info'>" + info +"</div></div>");
                        } else {
                            s = $("<div class='token-item'><button type='button' class='btn btn-light token-btn2'>" + word + '</button></div>');
                        }
                    }
                    $("#result").append(s);
                }
            },

            error: function(xhr, status, err) {
                console.log("error");
            }
        });
    });

    $(".token-info").hide();
    $("#checkbox").click(function() {
        $(".token-info").slideToggle(this.checked);
    });
</script>
{% endblock %}
